.homeComponent {
    background: linear-gradient(55deg, #c0f599, #60c377, #60c377, #c0f599);
    box-shadow: 0 3px 10px  #333;
    
}
.homeComponent h3, p {
    color: #fff;
}
// Animetion

  