.list-group-item:last-child {
    background: linear-gradient(55deg, #c0f599, #60c377, #60c377, #c0f599);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}